<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Pricing</title>
    <div th:insert="Base :: bootstrap"></div>
</head>
<body>
<div th:insert="Base :: navbar"></div>

<div class="container">
    <div class="row">
        <div class ="col">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562785044/caffe_latte_a2jhbi.jpg">
                    <div class="card-body">
                        <div class="card-body text-center">
                            <h4>Caffe Latte</h4>
                            <p>Tall Price is $2.95</p>
                            <p>Grande Price is $3.65</p>
                            <p>Venti Price is $4.15</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class ="col">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562785044/caffe_latte_a2jhbi.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Caffe Latte</h4>
                        <p>Tall Price is $2.95</p>
                        <p>Grande Price is $3.65</p>
                        <p>Venti Price is $4.15</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="Base :: script"></div>
</body>
</html>