<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Pricing</title>
    <div th:insert="Base :: bootstrap"></div>
</head>
<body>
<div th:insert="Base :: navbar"></div>
<div class="jumbotron">
    <h1 class="display-4" name="title">Cold Drinks</h1>
</div>

<div class="container">
    <div class="row">
        <div class ="col">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562791891/3f73d26a93fc43329efa94d55596d169_rveeva.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Cold Brew with Cascara Cold Foam</h4>
                        <p>Tall Price is $2.95</p>
                        <p>Grande Price is $3.65</p>
                        <p>Venti Iced Price is $4.15</p>
                        <p>Trenta ICed Price is $4.15</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class ="col">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562792146/86f46c65c9e04ab6bae7f05bd8ac20a4_etzfwa.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Nitro Cold Brew with Cascara Cold Foam</h4>
                        <p>Tall Price is $2.95</p>
                        <p>Grande Price is $3.65</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class ="col">
            <div class="card">
                <img class="card-img-top"
                     src="https://res.cloudinary.com/dhqp1gurz/image/upload/v1562792313/e2d727a2806c420e855ff54f98babab7_uvxtkd.jpg">
                <div class="card-body">
                    <div class="card-body text-center">
                        <h4>Cold Brew with Salted Cream Cold Foam</h4>
                        <p>Tall Price is $2.95</p>
                        <p>Grande Price is $3.65</p>
                        <p>Venti Iced Price is $4.15</p>
                        <p>Trenta ICed Price is $4.15</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="Base :: script"></div>
</body>
</html>